<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script
      src="https://kit.fontawesome.com/9c45bd1b05.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <style>
      @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

      /* own css start*/

      html {
        background-color: #e4e9fd;
        background-image: -webkit-linear-gradient(50deg,white 40%,#ffdbac 60%);
        min-height: 1800px;
      }
      .myh1 {
        font-size: 100px;
      }
      .navimg {
        height: 35px;
      }
      .marketBox {
        width: 600px;
        height: 150px;
        position: absolute;
        margin-left: 200px;
        margin-top: 45px;
      }
      .tshirtGif {
        margin-left: 900px;
        height: 300px;
        position: absolute;
        margin-top: 5px;
      }
      /* .explorebtn{
            position: absolute;
            
            
            background: #5161ce;
            display: inline-block;
            border-radius: 25%;
            width: 150px;
            height: 36px;
        } */
      .explorebtn {
        position: absolute;
        display: inline-block;
        margin-top: 280px;
        padding: 15px 70px;
        margin-left: 600px;
        font-size: 20px;
        font-weight: 500;
        background: transparent;
        border: 2px solid black;
        color: black;
        transition: all 0.55s ease;
      }
      .explorebtn:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #000;
      }
      .storageBox {
        width: 600px;
        height: 150px;
        position: absolute;
        margin-left: 800px;
        margin-top: 450px;
      }
      .warehousepng {
        position: absolute;
        margin-top: 450px;
        margin-left: 50px;
        width: 600px;
      }
      .warehouseBtn {
        position: absolute;
        display: inline-block;
        margin-top: 730px;
        padding: 15px 70px;
        margin-left: 600px;
        font-size: 20px;
        font-weight: 500;
        background: transparent;
        border: 2px solid black;
        color: black;
        transition: all 0.55s ease;
      }
      .warehouseBtn:hover {
        background: #ffdbac;
        border: 2px solid #fff;
        color: #000;
      }
      .processingDocs {
        position: absolute;
        margin-top: 850px;
        margin-left: 60px;
        margin-right: 60px;
      }
      .processingBtn {
        position: absolute;
        display: inline-block;
        margin-top: 1050px;
        padding: 15px 70px;
        margin-left: 600px;
        font-size: 20px;
        font-weight: 500;
        background: transparent;
        border: 2px solid black;
        color: black;
        transition: all 0.55s ease;
      }
      .processingBtn:hover {
        background: #ffdbac;
        border: 2px solid #fff;
        color: #000;
      }
      .EducationBox {
        width: 600px;
        height: 150px;
        position: absolute;
        margin-left: 100px;
        margin-top: 1200px;
      }
      .sheepPng {
        margin-left: 900px;
        height: 400px;
        position: absolute;
        margin-top: 1200px;
      }
      .educationBtn{
        position: absolute;
        display: inline-block;
        margin-top: 1500px;
        padding: 15px 70px;
        margin-left: 600px;
        font-size: 20px;
        font-weight: 500;
        background: transparent;
        border: 2px solid black;
        color: black;
        transition: all 0.55s ease;
      }
      .educationBtn:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #000;
      }











      /* own css ends */

      /* nav css start */

      .navbar-logo {
        padding: 15px;
        color: #fff;
      }
      .navbar-mainbg {
        background-color: #5161ce;
        padding: 0px;
        height: 60px;
      }
      #navbarSupportedContent {
        overflow: hidden;
        position: relative;
      }
      #navbarSupportedContent ul {
        padding: 0px;
        margin: 0px;
      }
      #navbarSupportedContent ul li a i {
        margin-right: 10px;
      }
      #navbarSupportedContent li {
        list-style-type: none;
        float: left;
      }
      #navbarSupportedContent ul li a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        font-size: 15px;
        display: block;
        padding: 20px 20px;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: relative;
      }
      #navbarSupportedContent > ul > li.active > a {
        color: #5161ce;
        background-color: transparent;
        transition: all 0.7s;
      }
      #navbarSupportedContent a:not(:only-child):after {
        content: "\f105";
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 14px;
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        transition: 0.5s;
      }
      #navbarSupportedContent .active > a:not(:only-child):after {
        transform: rotate(90deg);
      }
      .hori-selector {
        display: inline-block;
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 10px;
      }
      .hori-selector .right,
      .hori-selector .left {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #fff;
        bottom: 10px;
      }
      .hori-selector .right {
        right: -25px;
      }
      .hori-selector .left {
        left: -25px;
      }
      .hori-selector .right:before,
      .hori-selector .left:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #5161ce;
      }
      .hori-selector .right:before {
        bottom: 0;
        right: -25px;
      }
      .hori-selector .left:before {
        bottom: 0;
        left: -25px;
      }

      @media (min-width: 992px) {
        .navbar-expand-custom {
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -ms-flex-pack: start;
          justify-content: flex-start;
        }
        .navbar-expand-custom .navbar-nav {
          -ms-flex-direction: row;
          flex-direction: row;
        }
        .navbar-expand-custom .navbar-toggler {
          display: none;
        }
        .navbar-expand-custom .navbar-collapse {
          display: -ms-flexbox !important;
          display: flex !important;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }
      }

      @media (max-width: 991px) {
        #navbarSupportedContent ul li a {
          padding: 12px 30px;
        }
        .hori-selector {
          margin-top: 0px;
          margin-left: 10px;
          border-radius: 0;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }
        .hori-selector .left,
        .hori-selector .right {
          right: 10px;
        }
        .hori-selector .left {
          top: -25px;
          left: auto;
        }
        .hori-selector .right {
          bottom: -25px;
        }
        .hori-selector .left:before {
          left: -25px;
          top: -25px;
        }
        .hori-selector .right:before {
          bottom: -25px;
          left: -25px;
        }
      }
      /* nav css end */
    </style>
  </head>
  <body>
    <!-- nav start -->

    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="/home"
        >Wool Market
        <img
          class="navimg"
          src="https://media.tenor.com/jFoLqyTPFeMAAAAi/neko-cute.gif"
      /></a>

      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/home"
              ><i class="fas fa-tachometer-alt"></i>Home</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="javascript:void(0);"
              ><i class="far fa-address-book"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="seller"
              ><i class="far fa-address-book"></i>Wool Seller</a
            >
          </li>
          <!-- <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i></a>
                    </li> -->
          <li class="nav-item">
            <a class="nav-link" href="marketplace"
              ><i class="far fa-clone"></i>Wool MarketPlace</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="newsAndTrends"
              ><i class="far fa-calendar-alt"></i>News & Trends</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tracking"
              ><i class="far fa-chart-bar"></i>Tracking</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="processIntro"
              ><i class="far fa-copy"></i>Education & Training</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- nav end -->

    <table>
      <td>
        <div class="marketBox">
          <h2 style="color: #1da09c">A New Way to <span>Style</span></h2>
          <p
            style="
              margin-top: 25px;
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 2px;
            "
          >
            Wrap yourself in the timeless elegance of wool at our market. From
            classic sweaters to cozy scarves, we offer the finest selection of
            high-quality wool items to keep you warm and stylish year-round.
            Visit us today and experience the unmatched comfort of wool.
          </p>
        </div>
      </td>
      <td>
        <img
          style="background: #ffdbac"
          class="tshirtGif"
          src="./images/tshirtGif.gif"
        />
      </td>
    </table>
    <form action="/marketplace" method="post">
    <button class="explorebtn">Start Marketing</button>
  </form>

    <table>
      <td>
        <img
          style="background: #ffdbac"
          class="warehousepng"
          src="./images/warehouse.png"
        />
      </td>
      <td>
        <div class="storageBox">
          <h2 style="color: #1da09c">A New Way to <span>Style</span></h2>
          <p
            style="
              margin-top: 25px;
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 2px;
            "
          >
            Unlock the secrets to efficient wool storage and warehousing with
            our comprehensive documentation. Learn industry best practices, from
            temperature and humidity control to inventory management, ensuring
            your wool remains in pristine condition. Discover the key to
            preserving quality and maximizing efficiency.
          </p>
        </div>
      </td>
    </table>
    <form action="/storageIntro" method="post">
    <button class="warehouseBtn">Learn Storage</button>
  </form>
    <div class="processingDocs">
      <h2 style="color: #1da09c">
        Revolutionize Your Wool Farming: Mastering Wool Processing Services
      </h2>
      <p style="font-size: 20px; margin-top: 20px">
        Empower Farmers for Success in Wool Processing: Unlock the Full
        Potential of Your Flock! Our Comprehensive Documentation Provides
        Step-by-Step Guidance to Connect You with Expert Shearing, Sorting, and
        Dyeing Services. Elevate Your Wool Production and Quality with
        Confidence. Explore Our Essential Resources Now and Revolutionize Your
        Farming Experience! Transform Your Wool Farming: Access Expert Wool
        Processing Services Today! Our Comprehensive Documentation Guides
        Farmers in Shearing, Sorting, and Dyeing for Enhanced Wool Production.
      </p>
    </div>
    <form action="/processIntro" method="post">
    <button class="processingBtn">Learn</button>
  </form>

    <table>
      <td>
        <div class="EducationBox">
          <h2 style="color: #1da09c">A New Way to <span>Style</span></h2>
          <p style="margin-top: 25px;font-size: 20px;font-weight: 400;letter-spacing: 2px;">
            Empowering Wool Producers and Artisans: Elevate Your Craft and
            Business! Our Comprehensive Documentation Offers Regionwise and
            Statewise Data on Wool Producers and Artisans, Providing Educational
            Resources and Training to Enhance Production, Quality, Design, and
            Marketing Skills. Take Your Wool Enterprise to the Next Level – Dive
            into Our Essential Resources Today!
          </p>
        </div>
      </td>
      <td>
        <img class="sheepPng" src="./images/woolSheep.png" />
      </td>
    </table>
    <!-- <button class="educationBtn">Start Learning</button> -->

    <hr width="1100px" style="position: absolute; color: black; margin-left: 220px; height: 8px; margin-top: 1600px; background: black;">
    <h3 style="position: absolute;margin-top: 1620px; margin-left: 270px;">Your opinion matters! Share your thoughts with us and help us improve.</h3>
    <form action="/woolfeedback" method="post">
    <button class="processingBtn" style="margin-top: 1660px; margin-left: 100px;">Give Feedback</button>
  </form>
  <form action="/feedbackFetcher" method="post">
    <button class="processingBtn" style="margin-top: 1660px; margin-left: 1000px;">Read Feedback</button>
  </form>



  </body>
</html>
